<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This website will become the biggest job application platform around the world. Trust me sometimes in the future.">
    <meta name="keywords" content="Chinese Translation: 不知天高地厚 还在这儿？根本没把我放在眼里。准备捉妖！">
    <title>Hi.re</title>
    <link rel='stylesheet' type='text/css' href='header/header.css'>
    <script type="text/javascript" src="scripts/jquery/jquery-3.5.1.min.js"></script>
    <script src="header/header_script.js"></script>
</head>
<header id="nav" class = "web-nav">
    <nav class = "navigation">
        <div id="menu">
            <ul>
                <li>
                    <img src="header/hire_color.jpg" unselectable="on" alt="logo" class="nav-logo" id="nav-logo">
                </li>

                <li>
                    <a href="#">Personal</a>
                    <ul class="dropdown-content" id="personalDropDownList">
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href="./personal_introduction.html">Introduction Personal Account</a></li>
                        </div>
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href="#">Get a Personal Account</a></li>
                        </div>
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href="#">How to Use Personal Account</a></li>
                        </div>
                    </ul>
                </li>

                <li>
                    <a href="#">Business</a>
                    <ul class="dropdown-content" id="businessDropDownList">
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href = "./business_introduction.html">Introduction Business Account</a></li>
                        </div>
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href="#">Get a Business Account</a></li>
                        </div>
                        <div>
                            <li><a class="main_sub" style="text-transform: none; font-size: 16px;" href="#">How to Use Business Account</a></li>
                        </div>
                    </ul>
                </li>

                <li>
                    <a href = "#" class="nav-link-main-subtitle" >Features</a>
                </li>

                <li>
                    <a href = "#" class="nav-link-main-subtitle" >Help</a>
                </li>

                <li class="Btn-right">
                    <button class="btn" style="background: none;" align="right"><a href = "#" class="btn-text" style="color:white;">Log in</a></button>
                    <button class="btn" style="background-color: white;" align="right"><a href = "#" class="btn-text" style="color:black;">Sign Up</a></button>
                </li>
                <hr color="white">
                <!--hr color="#3498DB" size="60"-->
            </ul>
        </div>
    </nav>
</header>
</html>